@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0; /* Asegurar que no haya márgenes por defecto */
  padding: 0; /* Asegurar que no haya paddings por defecto */
}

/* petits retocs globals */
body{
  min-height: 100%; /* Asegura que el body ocupe al menos toda la altura */
  @apply bg-gray-100 text-gray-900 font-sans antialiased;
}

/* Targetes amb efecte “glass” */
.shadow-glass{
  @apply shadow-lg bg-white/60 backdrop-blur-xs;
}